<header md-page-header>
  <md-toolbar>
    <div class="md-toolbar-tools">
      <md-button ng-click="goBackSingle()" class="md-icon-button" aria-label="Go Back"><i class="ion-android-arrow-back"></i></md-button>
      <h2 md-header-title flex>Time Statement</h2>
      <md-button class="md-icon-button" aria-label="Spacer">&nbsp;</md-button>
    </div>
  </md-toolbar>

</header>


<md-content>
<div class="time">

    <!--<nav class="navbar">
      <button class="btn btn-link btn-left btn-back" ng-click="goBack();">
        <img src="assets/images/arrow-left-white@2x.png">
        Back
      </button>
      <h1 class="navbar-title">Time Statement</h1>

        <section layout="row" layout-sm="column" layout-align="left left">
              <button class="btn btn-link left" style="right:55px" ng-click="prevMonth();">Prev
              </button>
              <button class="btn btn-link right" style="right:5px" ng-click="nextMonth();">Next
              </button>
            </section>
    </nav> -->

    <div id="calendar"></div>

 </div>
</md-content>
