<md-content>
    <div class="pay">

    <nav class="navbar">
      <button class="btn btn-link btn-left btn-back" ng-click="goBack();">
        <img src="assets/images/arrow-left-white@2x.png">
        Back
      </button>
      <h1 class="navbar-title">Time Off Summary</h1>
    </nav> 

    
        <div class="dashboard-links">
          <a ng-href="#/time-statement">
            <span class="pay-table-row-value text-success" style="width:100%">82 Hrs</span>
            <h3 class="panel-title">Time Off Balance</h3>
          </a>
          <a ng-href="#/time-statement">
            <span class="pay-table-row-value text-danger" style="width:100%">47 Hrs</span>
            <h3 class="panel-title">Used Time Off YTD</h3>
          </a>
        </div>
        
      
      <md-toolbar class="md-theme-light">
        <h2 class="md-toolbar-tools">
          <span>Vacation</span>
        </h2>
      </md-toolbar>
        <md-content>
            <md-list>                
             <md-list-item class="md-3-line">
                <div class="md-list-item-text">
                  <h3>4 Used</h3>
                  <h4>8 Remaining</h4>
                </div>
              </md-list-item> 
                <md-divider></md-divider>                
             <md-list-item class="md-3-line">
                <div class="md-list-item-text">
                  <h4>1 Day Pending Approval</h4>
                  <h4>Currently using vacation time</h4>
                </div>
              </md-list-item>                
            </md-list>
          </md-content>

      <md-toolbar class="md-theme-light">
        <h2 class="md-toolbar-tools md-accent">
          <span>Personal</span>
        </h2>
      </md-toolbar>
        <md-content>
            <md-list>                
             <md-list-item class="md-3-line">
                <div class="md-list-item-text">
                  <h3>4 Used</h3>
                  <h4>8 Remaining</h4>
                </div>
              </md-list-item> 
                <md-divider></md-divider>                
             <md-list-item class="md-3-line">
                <div class="md-list-item-text">
                  <h4>1 Day Pending Approval</h4>
                  <h4>Currently using vacation time</h4>
                </div>
              </md-list-item>                
            </md-list>
          </md-content>
        
      <md-toolbar class="md-theme-light">
        <h2 class="md-toolbar-tools">
          <span>Sick</span>
        </h2>
      </md-toolbar>
        <md-content>
            <md-list>                
             <md-list-item class="md-3-line">
                <div class="md-list-item-text">
                  <h3>4 Used</h3>
                  <h4>8 Remaining</h4>
                </div>
              </md-list-item> 
                <md-divider></md-divider>                
             <md-list-item class="md-3-line">
                <div class="md-list-item-text">
                  <h4>1 Day Pending Approval</h4>
                  <h4>Currently using vacation time</h4>
                </div>
              </md-list-item>                
            </md-list>
          </md-content>
        
  </div>
</md-content>
