.login {
  color: white;
  text-align: center;
  //background: url("../images/bg@2x.png");
  background-image: url("../images/login-bg.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100%;
  
  &:after {
    content: '';
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    @include gradient-vertical(transparent, rgba(0,0,0,.3));
  }
  
  .logo {
    width: 210px;
    height: auto;
    position: absolute;
    top: 50%;
    margin-top: -210px;
    left: 50%;
    margin-left: -105px;
    z-index: 2;
  }
  
  form {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    
    .form-control {
      border-radius: 0;
      box-shadow: none;
      border: 0;
      text-align: center;
      height: 50px;
      font-size: 17px;
      font-weight: 300;
      border-bottom: 1px solid #ddd;
    }
    
    .btn,
    .md-button {
      width: 100%;
      border-radius: 0;
      font-size: 17px;
      padding: 0;
      margin: 0;
      line-height: 50px;
      margin-top: -1px;
    }
  }
  
  
  &-passcode {
    @include flexbox();
    @include align-items(center);
    @include justify-content(center);

    .avatar {
      margin: 0 0 10px;
      border-radius: 50%;
      width: 100px;
      height: 100px;
    }

    .username {
      color: white;
      font-weight: bold;
      font-size: 16px;
      margin: 0;
    }
    
    .instructions {
      color: $text-color-muted;
      font-size: 12px;
      margin: 0 0 10px;
      font-weight: 500;
    }
    
    &-inputs {
      margin: 30px 0 20px;
      
      &-input {
        display: inline-block;
        vertical-align: middle;
        margin: 0 10px;
        
        i {
          font-size: 30px;
          line-height: 30px;          
        }
      }
    }
    
    &-keypad {
      .row {
        margin: 0;
      }
      button {
        background: transparent;
        border: 0;
        box-shadow: none;
        font-size: 36px;
        font-weight: 300;
        padding: 0;
        width: 80px;
        height: 80px;
        line-height: 36px;
        vertical-align: top;
        text-align: center;
        
        small {
          display: block;
          font-size: 11px;
          line-height: 20px;
          font-weight: normal;
          
          &.text-muted {
            color: $text-color-muted;
          }
        }
      }
    }
  }
}


.login-alt {
  background-image: url("../images/login-bg@2x.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  height: 100%;
  padding: 20px;
  @include flexbox;
  //@include justify-content(center);
  @include align-items(center);
  
  h1 {
    color: white;
    //text-transform: uppercase;
    font-size: 30px;
    line-height: 1;
    letter-spacing: -1px;
    max-width: 60%;
  }
  
  form {
    width: 100%;
    
    .form-group {
      background: transparent;
      border: 0;
      margin: 0 0 20px;
    }
    
    .form-control {
      background: transparent;
      border:0;
      border-bottom: 1px solid rgba(255,255,255,0.5);
      border-radius: 0;
      box-shadow: none;
      padding-left: 0;
      color: white;
      @include transition(border-color .4s ease);
      font-weight: 400;
      
      &:focus {
        border-color: rgba(255,255,255,1);
        outline: none !important;
      }
      
      &::-webkit-input-placeholder {color: #fff;}
      &:-moz-placeholder           {color: #fff;}
      &::-moz-placeholder          {color: #fff;}
      &:-ms-input-placeholder      {color: #fff;}  
    }
    
    button {
      border-radius: 0;
      font-size: 16px;
      padding: 10px;
    }
  }
  
  .identity {
    position: absolute;
    right: 20px;
    bottom: 20px;
    width: 135px;

    /*
    width: 100px;
    @include flexbox;
    @include flex-direction(column);

    
    &-logo {
      background: white;
      margin: 0 0 2px;
      padding: 8px;
      text-align: center;
      
      img {
        height: 50px;
      }
    }
    &-text {
      background: white;
      color: $text-color;
      padding: 8px 20px;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 10px;
      line-height: 1;
    }
    */
  }
}