.pay {
  &-table {
    &-row {
      background: white;
      @include flexbox;
      line-height: 20px;
      padding: 12px 15px;
      white-space: nowrap;
      border-top: 1px solid $divider-color;
      
      &.toggle {
        @include transition(all .3s ease);
        
        span {
          @include transition(all .3s ease);
        }
        
        &:not(.collapsed) {
          background: #0081ff;
          
          .pay-table-row-title {
            color: white;
          }
          
          .pay-table-row-value {
            color: #a5d3ff !important;
          }
        }
      }
      
      .pay-detail & {
        background: #0076e9;
        color: white !important;
        border-top-color: transparent;
        padding-top: 6px;
        padding-bottom: 6px;
        
        &:first-child {
          padding-top: 12px;
        }
        
        &:last-child {
          padding-bottom: 12px;
        }
      }
      
      &-totals {
        color: white;
        background: transparent;
        border-color: transparent;
      }
      
      &-title {
        font-weight: bold;
        font-size: 12px;
        @include flex(1);
        
        .pay-detail & {
          font-weight: normal;
        }

        .pay-table-row-subheading & {
          font-size: 10px;
          font-weight: 500;
          color: #aed7f4;
          text-transform: uppercase;
        }
      }
      
      &-subheading {
        font-size: 12px;
        color: #aed7f4;
        //padding-bottom: 0;
      }
      
      &-value {
        font-weight: bold;
        text-align: right;
        font-size: 17px;
        
        .pay-detail & {
          font-size: 14px;
          color: #a5d3ff !important;
        }
      }
    }
  }
}