$navbar-bg-color: #8e8e8e;
$body-bg-color: #eee;
$divider-color: #e6e6e6;

$text-color: #262626;
$text-color-muted: #777;

$color-blue: #1c69d4;
$color-dark-blue: #0653B6;

$color-green: #3db014;
$color-amber: #ffad1f;
$color-red: #d20000;

$navbar-height: 44px;

