html {
  height: 100%; }

body {
  background: #eee;
  height: 100%; }

md-content {
  flex: 1;
  background: #eee; }

.btn {
  outline: none !important;
  text-decoration: none !important;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease; }
  .btn-primary {
    background: #1c69d4;
    border-color: #1c69d4;
    font-weight: bold; }
    .btn-primary:hover, .btn-primary:focus, .btn-primary:active {
      background: #0653B6;
      border-color: #0653B6; }

.md-button {
  padding: 0 16px; }

a {
  text-decoration: none !important; }

h1 {
  font-size: 24px;
  margin: 0 0 10px;
  font-weight: bold; }

h2 {
  color: #777;
  font-size: 12px;
  margin: 0 0 15px;
  font-weight: 500; }

.text-success {
  color: #47aa63; }

.text-danger {
  color: #d73737; }

.padding-15 {
  padding: 15px; }

md-toolbar {
  min-height: 44px;
  height: 44px; }

.md-toolbar-tools {
  background-color: #8e8e8e;
  padding: 0; }
  .md-toolbar-tools .md-button {
    margin: 0 !important; }
  .md-toolbar-tools h1, .md-toolbar-tools h2, .md-toolbar-tools h3 {
    text-align: center;
    color: white;
    font-size: 17px;
    font-weight: bold;
    color: white;
    margin: 0; }

.form-group {
  background: white;
  margin: 0;
  border-bottom: 1px solid #e6e6e6; }
  .form-group:last-child {
    border-bottom: 0; }
  .form-group .control-label {
    padding: 10px 15px 0;
    margin: 0;
    font-size: 12px; }
  .form-group .form-control {
    -webkit-appearance: none;
    appearance: none;
    font-size: 17px;
    border: 0;
    box-shadow: none;
    border-radius: 0;
    color: #262626;
    padding-left: 15px;
    height: 40px;
    margin-top: -5px;
    font-weight: 300; }

.md-subheader {
  background: #eef8ff;
  color: #7ea6c4;
  text-align: center;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  display: block;
  margin: 0; }
  .md-subheader .md-subheader-inner {
    padding: 0; }

md-list {
  padding: 0;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05); }
  md-list md-list-item {
    position: relative;
    background: white; }
    md-list md-list-item .md-list-item-text {
      padding: 10px 0;
      -webkit-box-flex: 1;
      -webkit-flex: 1;
      -moz-box-flex: 1;
      -moz-flex: 1;
      -ms-flex: 1;
      flex: 1; }
    md-list md-list-item.md-clickable .md-list-item-text {
      padding-right: 20px; }
    md-list md-list-item.md-clickable button:after {
      content: "\f3d3";
      display: inline-block;
      font-family: "Ionicons";
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      text-rendering: auto;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      font-size: 24px;
      position: absolute;
      right: 15px;
      top: 50%;
      line-height: 24px;
      margin-top: -12px;
      color: #ccc; }
    md-list md-list-item h3 {
      margin: 0;
      font-size: 18px;
      line-height: 22px;
      font-weight: 300; }
    md-list md-list-item p {
      font-size: 14px;
      line-height: 22px;
      margin: 0; }

/*
.list-group {
  &-item {
    border-radius: 0 !important;
    border-left: 0;
    border-right: 0;
    @include flexbox;
    
    &:last-child {
      border-bottom: 0;
    }
    
    &-heading {
      font-size: 12px;
      line-height: 22px;
      font-weight: bold;
      margin: 0;
    }
    
    &-text {
      font-size: 17px;
      line-height: 22px;
      font-weight: 300;
      text-align: right;
      @include flex(1);
      margin: 0;
    }
  }
}
*/
.login {
  color: white;
  text-align: center;
  background-image: url("../images/login-bg.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100%; }
  .login:after {
    content: '';
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-image: -webkit-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.3) 100%);
    background-image: -o-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.3) 100%);
    background-image: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.3) 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#4D000000', GradientType=0); }
  .login .logo {
    width: 210px;
    height: auto;
    position: absolute;
    top: 50%;
    margin-top: -210px;
    left: 50%;
    margin-left: -105px;
    z-index: 2; }
  .login form {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2; }
    .login form .form-control {
      border-radius: 0;
      box-shadow: none;
      border: 0;
      text-align: center;
      height: 50px;
      font-size: 17px;
      font-weight: 300;
      border-bottom: 1px solid #ddd; }
    .login form .btn,
    .login form .md-button {
      width: 100%;
      border-radius: 0;
      font-size: 17px;
      padding: 0;
      margin: 0;
      line-height: 50px;
      margin-top: -1px; }
  .login-passcode {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center; }
    .login-passcode .avatar {
      margin: 0 0 10px;
      border-radius: 50%;
      width: 100px;
      height: 100px; }
    .login-passcode .username {
      color: white;
      font-weight: bold;
      font-size: 16px;
      margin: 0; }
    .login-passcode .instructions {
      color: #777;
      font-size: 12px;
      margin: 0 0 10px;
      font-weight: 500; }
    .login-passcode-inputs {
      margin: 30px 0 20px; }
      .login-passcode-inputs-input {
        display: inline-block;
        vertical-align: middle;
        margin: 0 10px; }
        .login-passcode-inputs-input i {
          font-size: 30px;
          line-height: 30px; }
    .login-passcode-keypad .row {
      margin: 0; }
    .login-passcode-keypad button {
      background: transparent;
      border: 0;
      box-shadow: none;
      font-size: 36px;
      font-weight: 300;
      padding: 0;
      width: 80px;
      height: 80px;
      line-height: 36px;
      vertical-align: top;
      text-align: center; }
      .login-passcode-keypad button small {
        display: block;
        font-size: 11px;
        line-height: 20px;
        font-weight: normal; }
        .login-passcode-keypad button small.text-muted {
          color: #777; }

.login-alt {
  background-image: url("../images/login-bg@2x.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  height: 100%;
  padding: 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center; }
  .login-alt h1 {
    color: white;
    font-size: 30px;
    line-height: 1;
    letter-spacing: -1px;
    max-width: 60%; }
  .login-alt form {
    width: 100%; }
    .login-alt form .form-group {
      background: transparent;
      border: 0;
      margin: 0 0 20px; }
    .login-alt form .form-control {
      background: transparent;
      border: 0;
      border-bottom: 1px solid rgba(255, 255, 255, 0.5);
      border-radius: 0;
      box-shadow: none;
      padding-left: 0;
      color: white;
      -webkit-transition: border-color 0.4s ease;
      -moz-transition: border-color 0.4s ease;
      -ms-transition: border-color 0.4s ease;
      -o-transition: border-color 0.4s ease;
      transition: border-color 0.4s ease;
      font-weight: 400; }
      .login-alt form .form-control:focus {
        border-color: white;
        outline: none !important; }
      .login-alt form .form-control::-webkit-input-placeholder {
        color: #fff; }
      .login-alt form .form-control:-moz-placeholder {
        color: #fff; }
      .login-alt form .form-control::-moz-placeholder {
        color: #fff; }
      .login-alt form .form-control:-ms-input-placeholder {
        color: #fff; }
    .login-alt form button {
      border-radius: 0;
      font-size: 16px;
      padding: 10px; }
  .login-alt .identity {
    position: absolute;
    right: 20px;
    bottom: 20px;
    width: 135px;
    /*
    width: 100px;
    @include flexbox;
    @include flex-direction(column);

    
    &-logo {
      background: white;
      margin: 0 0 2px;
      padding: 8px;
      text-align: center;
      
      img {
        height: 50px;
      }
    }
    &-text {
      background: white;
      color: $text-color;
      padding: 8px 20px;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 10px;
      line-height: 1;
    }
    */ }

.walkthrough {
  background-image: url("../images/login-bg@2x.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }
  .walkthrough h1 {
    color: white;
    font-size: 30px;
    line-height: 1;
    letter-spacing: -1px;
    margin: 0; }
  .walkthrough p {
    color: white;
    font-weight: bold;
    font-size: 12px;
    line-height: 18px; }
  .walkthrough-step {
    width: 100%;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 30px;
    margin: 0 auto; }
    .walkthrough-step img {
      margin: 30px auto;
      max-width: 100%; }
  .walkthrough-dots {
    text-align: center;
    margin-bottom: 30px; }
  .walkthrough-dot {
    width: 12px;
    height: 12px;
    display: inline-block;
    background: white;
    border-radius: 50%;
    margin: 0 3px;
    opacity: 0.2; }
    .walkthrough-dot.active {
      opacity: 1; }
  .walkthrough button {
    border-radius: 0; }

.dashboard-welcome {
  text-align: center;
  padding: 10px 15px 0; }
  .dashboard-welcome-heading {
    font-weight: 300;
    margin: 0 0 5px; }
  .dashboard-welcome-text {
    color: #777;
    font-size: 13px;
    margin: 0 0 5px;
    font-weight: 500; }
  .dashboard-welcome-avatar {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 0 0 10px; }

.dashboard-panels {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 5px; }

.dashboard-panel {
  padding: 5px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative; }
  @media (max-width: 767px) {
    .dashboard-panel {
      width: 50%; } }
  @media (min-width: 768px) {
    .dashboard-panel {
      width: 33.333%; } }
  .dashboard-panel-image {
    height: 60px;
    background-size: cover;
    background-position: center center;
    border-radius: 4px 4px 0 0; }
  .dashboard-panel a {
    background: white;
    border-radius: 4px;
    display: block;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
    position: relative; }
    .dashboard-panel a h4 {
      font-size: 15px;
      line-height: 20px;
      font-weight: bold;
      color: black;
      margin: 0;
      padding: 8px 12px; }
    .dashboard-panel a .count {
      position: absolute;
      font-size: 17px;
      font-weight: bold;
      color: white;
      text-align: center;
      background: #e33541;
      line-height: 30px;
      border-radius: 15px;
      min-width: 30px;
      top: -4px;
      right: -4px; }

.month-picker {
  background: #f5f5f5;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex; }
  .month-picker h3 {
    color: #262626;
    margin: 0;
    text-align: center;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
    font-size: 17px;
    line-height: 20px;
    line-height: 44px; }
  .month-picker .md-button.md-icon-button {
    margin: 0; }

.time-calendar {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05); }
  .time-calendar-heading {
    background: #f5f5f5;
    color: #262626;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    border-bottom: 1px solid #e6e6e6; }
    .time-calendar-heading span {
      width: 14.2857%;
      text-align: center;
      font-size: 10px;
      display: block;
      padding-bottom: 10px; }
  .time-calendar-week {
    background: white;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    border-bottom: 1px solid #e6e6e6; }
    .time-calendar-week:empty {
      display: none; }
    .time-calendar-week:focus {
      outline: none !important; }
    .time-calendar-week .text-muted {
      color: #ccc; }
    .time-calendar-week:not(.collapsed) {
      border-bottom-color: transparent;
      background: #1c69cf;
      color: white; }
      .time-calendar-week:not(.collapsed) .text-muted {
        color: #65b3ff; }
    .time-calendar-week > span {
      width: 14.2857%;
      text-align: center;
      display: block;
      line-height: 44px;
      font-size: 17px; }
      .time-calendar-week > span .holiday {
        color: white;
        position: relative;
        background: #ffad1f;
        width: 28px;
        height: 28px;
        line-height: 28px;
        border-radius: 50%;
        display: inline-block; }
  .time-calendar-values {
    background: #262626;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    font-size: 17px;
    line-height: 17px;
    font-weight: bold; }
    .time-calendar-values span {
      width: 14.2857%;
      display: block;
      text-align: center; }
    .time-calendar-values-worked {
      padding-top: 10px; }
      .time-calendar-values-worked span {
        color: white; }
    .time-calendar-values-inout {
      padding-top: 10px;
      color: #aaa;
      font-weight: 500;
      padding-bottom: 10px;
      font-size: 13px;
      line-height: 15px; }
    .time-calendar-values-scheduled {
      color: #aaa;
      font-weight: 500;
      padding-bottom: 10px; }
    .time-calendar-values small {
      display: block;
      text-transform: uppercase;
      font-size: 9px;
      line-height: 14px; }
  .time-calendar-detail {
    background: #262626;
    color: white;
    overflow: hidden;
    padding: 15px 0;
    text-align: center; }
    .time-calendar-detail-heading {
      font-size: 17px;
      font-weight: bold;
      margin: 0 0 8px; }
    .time-calendar-detail-text {
      color: #aaa;
      font-weight: 500;
      margin: 0; }
    .time-calendar-detail dl {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-wrap: wrap;
      -moz-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
      .time-calendar-detail dl dt, .time-calendar-detail dl dd {
        width: 50%;
        padding: 0 8px;
        margin-bottom: 5px; }
      .time-calendar-detail dl dt {
        text-align: right; }
      .time-calendar-detail dl dd {
        text-align: left; }

.pay-table-row {
  background: white;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  line-height: 20px;
  padding: 12px 15px;
  white-space: nowrap;
  border-top: 1px solid #e6e6e6; }
  .pay-table-row.toggle {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease; }
    .pay-table-row.toggle span {
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease; }
    .pay-table-row.toggle:not(.collapsed) {
      background: #0081ff; }
      .pay-table-row.toggle:not(.collapsed) .pay-table-row-title {
        color: white; }
      .pay-table-row.toggle:not(.collapsed) .pay-table-row-value {
        color: #a5d3ff !important; }
  .pay-detail .pay-table-row {
    background: #0076e9;
    color: white !important;
    border-top-color: transparent;
    padding-top: 6px;
    padding-bottom: 6px; }
    .pay-detail .pay-table-row:first-child {
      padding-top: 12px; }
    .pay-detail .pay-table-row:last-child {
      padding-bottom: 12px; }
  .pay-table-row-totals {
    color: white;
    background: transparent;
    border-color: transparent; }
  .pay-table-row-title {
    font-weight: bold;
    font-size: 12px;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1; }
    .pay-detail .pay-table-row-title {
      font-weight: normal; }
    .pay-table-row-subheading .pay-table-row-title {
      font-size: 10px;
      font-weight: 500;
      color: #aed7f4;
      text-transform: uppercase; }
  .pay-table-row-subheading {
    font-size: 12px;
    color: #aed7f4; }
  .pay-table-row-value {
    font-weight: bold;
    text-align: right;
    font-size: 17px; }
    .pay-detail .pay-table-row-value {
      font-size: 14px;
      color: #a5d3ff !important; }
