<header md-page-header>
        <md-toolbar>
          <div class="md-toolbar-tools">
            <md-button ng-click="goBackSingle()" class="md-icon-button" aria-label="Go Back"><i class="ion-android-arrow-back"></i></md-button>
            <h2 md-header-title flex layout-align="center">{{title_head}}</h2>
            <!--<md-button class="md-tools" aria-label="Edit Contact"><i class="ion-android-create"></i></md-button>
            <md-button class="md-tools" aria-label="More"><i class="ion-android-more-vertical"></i></md-button>-->
          </div>
        </md-toolbar>
       <!--<div class="main-fab">
           <md-button aria-label="Float Action Button" class="md-fab md-accent">
               <i class="ion-android-star"></i>
           </md-button>
       </div>-->
</header>