<header md-page-header>
  <md-toolbar class="simple-header">
  		<div class="md-toolbar-tools">
      	<md-button ng-href="#/dashboard"  class="md-icon-button md-tools" aria-label="Go Back"><i class="ion-android-arrow-back"></i></md-button>
    		<h3 class="md-toolbar-tools">{{title_head}}</h3>
  		</div>
      
      <img class="navbar-logo" src="assets/images/logo@2x.png" 
          style="width:38px; position:absolute; top:44px; left:50%; margin-left:-25px">
      
  </md-toolbar>
</header>