<header md-page-header>
        <md-toolbar>
          <div class="md-toolbar-tools">
            <md-button ng-click="goBackSingle()" class="md-icon-button" aria-label="Go Back"><i class="ion-android-arrow-back"></i></md-button>
            <h2 md-header-title flex>Create Ticket</h2>
          </div>
        </md-toolbar>

</header>
<div id="createTicket">
    <md-content layout-padding>
        
   <form name="ticketForm">
       
      <md-input-container layout-padding>
          <label>Topic</label>
      	 <input ng-model="ticketDetail.topicName" readonly>
          <br>
          <md-button class="md-tools" aria-label="Choose" ng-click="showTopics();"><i class="ion-android-create" ></i>Select</md-button>
      </md-input-container>
       <md-input-container layout-padding>
         <label>Subject</label>
         <input ng-model="ticketDetail.subject">
       </md-input-container>
       
      <md-input-container layout-padding>
          <label>Issue</label>
      	<input ng-model="ticketDetail.details">
      </md-input-container>
      
            <md-button class="md-tools" aria-label="Save Ticket" ng-click="saveNewTicket();"><i class="ion-android-create" ></i>Save</md-button>
            <md-button class="md-tools" aria-label="Cancel" ng-click="back();"><i class="ion-android-create"></i>Cancel</md-button>

   </form>
    

    
    <!--<md-button class="md-tools" aria-label="Add Note"><i class="ion-android-create" ng-click="addNotes();"></i></md-button>
    <md-button class="md-tools" aria-label="Add Attachment"><i class="ion-android-create" ng-click="addAttachment();"></i></md-button>
    
    <md-list><b><small>Notes</small></b>
      <md-list-item class="md-3-line" ng-repeat="note in ticketNotes">
        <div class="md-list-item-text">
          <h4>{{note.note}}</h4>
          <h5><small>added by {{note.user}} on {{note.date}}</small></h5>
          <p></p>
        </div>
        <md-button class="" ng-href="{{note.attachmentUrl}}">View</md-button>
      </md-list-item>
    </md-list>
    
    <md-list><b><small>Attachments</small></b>
      <md-list-item class="md-3-line" ng-repeat="attachment in ticketAttachments">
        <div class="md-list-item-text">
          <h4>{{attachment.attachment}}</h4>
          <h5><small>uploaded by {{attachment.user}} on {{attachment.date}}</small></h5>
          <p></p>
        </div>
        <md-button class="" ng-href="{{attachment.attachmentUrl}}">View</md-button>
      </md-list-item>
    </md-list>-->
    
</md-content>
</div>

<div id="topicList" style="visibility:block">

<md-content layout-padding>
    <md-list>
        
      <md-list-item class="md-3-line" ng-repeat="topic in ticketTopics">
        <div class="md-list-item-text" ng-click="selectTopic(topic)">
          <h3>{{topic.topicName}}</h3>
        </div>
      </md-list-item>
    </md-list>
</md-content>

</div>