<ng-include src="'templates/partials/header-inner.html'"></ng-include>

<md-content layout-padding>
     
    <md-list>
        <md-divider></md-divider>
      <md-list-item class="md-3-line" ng-repeat="link in employeeData.TBL_LINKS">
        <div class="md-list-item-text">
          <h3>{{link.TITLE}}</h3>
          <h4>({{link.LINK}})</h4>
        </div>
        <md-button class="" ng-click="launchLink(link.LINK)">Launch</md-button>
      <md-divider></md-divider>
      </md-list-item>
      <md-divider></md-divider>
        
    </md-list>
</md-content>
