<header md-page-header>
  <md-toolbar>
    <div class="md-toolbar-tools">
      <md-button ng-click="goBackSingle()" class="md-icon-button" aria-label="Go Back"><i class="ion-android-arrow-back"></i></md-button>
      <h2 md-header-title flex>{{title_head}}</h2>
      <md-button class="md-icon-button" aria-label="Edit"><i class="ion-android-create" ng-click="editBank();"></i></md-button>
    </div>
  </md-toolbar>
</header>
<md-content layout-padding>
        
   <form name="userForm">

       <md-input-container layout-padding>
          <label>Employee</label>
      	<input ng-model="employeeData.EMPLOYEE_DETAIL.NAME" placeholder="Name" readonly>
      </md-input-container>
       
      <md-input-container layout-padding>
          <label>Taxing Entity</label>
      	<input ng-model="employeeData.TAXDATA.NAMEOFTAXAUTH" placeholder="Bank Type" readonly>
      </md-input-container>

      <md-input-container layout-padding>
          <label>Tax Status</label>
      	<input ng-model="employeeData.TAXDATA.NAMEOFTAXSTATUS" placeholder="Tax Status" readonly>
      </md-input-container>
    
      <md-input-container layout-padding>
          <label>Total number of allowances claimed (exemptions)</label>
      	<input ng-model="employeeData.TAXDATA.NOOFEXEMPTIONS" placeholder="Number of Exemptions" readonly>
      </md-input-container>
     
      <md-input-container layout-padding>
          <label>Additional amount, if any, you want withheld from each paycheck</label>
      	<input ng-model="employeeData.TAXDATA.ADDEXEMPAMOUNT" placeholder="Additional Amount" readonly>
      </md-input-container>

   </form>
</md-content>